* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-login {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// border: 2px dashed red;
}
.welcome-header {
	text-align: center;
}
.quote {
	margin: 2em;
	text-align: center;
	margin-bottom: 3em;
	.quote-author {
		margin-top: 0.5em;
		text-align: center;
	}
}

.box {
	width: 20em;
	border: 1px solid black;
	border-radius: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3em;
	gap: 1em;
	background-color: white;
	& .name,
	.trip-date,
	.trip-destination {
		font-size: 1em;
		font-family: Arial, Helvetica, sans-serif;
		border: none;
		border-bottom: 1px solid;
		padding: 0.5em;
		&:focus {
			background-color: cornflowerblue;
		}
	}
}

@import './variables.scss';
