@import './variables.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// overscroll-behavior: none;
}
.container-weather {
	height: 100vh;
	padding: 2em;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: $color-secondary;
	background-image: url(../assets/pexels-2.jpg);
	background-position: center;
	background-size: cover;

	.top-text {
		font-size: 1.8em;
		font-weight: 600;
		margin-bottom: 3em;
		margin-top: 2em;
		text-align: center;
		@include tablet {
			font-size: 2.5em;
		}
	}
	.input-temperature {
		display: flex;
		justify-content: center;
		border: none;
		border-bottom: 1px solid;
		border-radius: 1em;
		padding: 0.3em;
		font-size: 4em;
		text-align: center;
		width: 4em;
		&:focus {
			box-shadow: inset 8px 8px 24px -18px $color-primary;
		}
	}
	.bottom-text {
		font-weight: 600;
		font-size: 1.8em;
		margin-top: 3em;
		@include tablet {
			font-size: 2.5em;
		}
	}
}
.btn-container_top {
	width: 90vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-primary;
	// border: 1px dashed navy;
	gap: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 1em;
	.day-container,
	.week-container {
		font-size: $font-icons-size;
		font-family: $font-secondary;
		width: 5em;
		height: 5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 4.5em;
		border-radius: 50%;
		@include tablet {
			font-size: 1.3em;
		}
		.btn-day,
		.btn-week {
			font-size: 3em;
			:active {
				font-size: 2.1em;
				color: $color-teritary;
			}
		}
	}
}
.btn-container_bottom {
	width: 100vw;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	margin-top: -5em;
	margin-bottom: 1.5em;
	.btn-go_to_login,
	.btn-go_to_expanses,
	.btn-go_to_take {
		text-decoration: none;
		font-size: $font-secondary-size;
		font-family: $font-main;
		background-color: $color-primary;
		color: $color-quartenary;
		width: 6em;
		padding: 0.5em;
		border-radius: 5em;
		text-align: center;
		@include tablet {
			width: 8em;
			padding: 0.7em;
			font-size: 1.3em;
		}
	}
}
