@import './variables.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// overscroll-behavior: none;
}

.container-take {
	height: 100vh;
	padding: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// justify-content: space-between;
	// align-items: center;
	flex-direction: column;
	background-color: $color-secondary;
	.top-text {
		text-align: center;
		font-family: $font-main;
		font-size: $font-primary-size;
		// border: 1px solid red;
		// @include tablet {
		// 	font-size: 1.5em;
		// }
	}
}

.carousel-container_take {
	width: 90vw;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	// align-items: center;
	// border: 1px dashed navy;
	gap: 3em;
	margin-top: 0.5em;
	margin-bottom: 3em;
	// background-color: $color-quartenary;
	.documents-container,
	.devices-container,
	.hygine-container,
	.food-container,
	.medicine-container,
	.can-i_container,
	.others-container {
		width: 5em;
		height: 5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// border: 1px solid navy;
		padding: 0.5em;
		height: 4.5em;
		font-size: $font-icons-size;
		font-family: $font-secondary;
		// display: none;
	}
	.btn-documents,
	.btn-devices,
	.btn-hygine,
	.btn-food,
	.btn-medicine,
	.btn-can-i,
	.btn-others {
		border: 1px solid navy;
		border-radius: 2em;
		font-size: 2em;
		background: none;
		padding: 0.2em;
		border: 1em;
		color: $color-primary;
		:active {
			font-size: 2.1em;
			color: $color-teritary;
		}
		@include tablet {
			font-size: 2em;
		}
	}
	.span-documents,
	.span-devices,
	.span-hygine,
	.span-food,
	.span-medicine,
	.span-can-i,
	.span-other {
		font-size: $font-icons-size;
		font-weight: 400;
		font-size: $font-primary-size;
	}
}

.list-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 0.5px solid navy;
	width: 40vw;
	height: 50vh;
	background-color: $color-quartenary;
	border-radius: 1em;
	padding: 0.1em;
	@include tablet {
		// margin: 0 5vw;
		// height: 60vh;
		// padding: 1em;
	}
	.container-take_box {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header_take {
		font-family: $font-teritary;
		font-size: $font-teritary-size;
		color: $color-teritary;
		margin-bottom: -0.2em;
	}
	.line {
		border-bottom: 2px solid black;
		width: 10em;
		margin-bottom: 2em;
		// border: 3px solid red;
	}
	.list-to_take {
		height: 40em;
		width: 80vw;
		padding: 1em;
		@include tablet {
			padding: 1em;
		}
		.element {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			line-height: 1em;
			.checkbox-input {
				margin-right: 1em;
			}
			.input-to_take {
				border: none;
				border-bottom: 1px solid;
				width: 45vw;
				font-family: $font-main;
				font-size: $font-primary-size;
				&:focus {
					background-color: $color-secondary;
					font-weight: 400;
					border: 1px solid $color-secondary !important;
					border: none;
				}
				@include tablet {
					width: 55vw;
					font-size: 1.1em;
				}
			}
			.btn-edit,
			.btn-delete {
				font-size: 0.8em;
				// margin-left: 1em;
				border: none;
				background: none;
				height: 2em;
			}
			.btn-delete {
				color: $color-teritary;
			}
			@include tablet {
				width: auto;
				justify-content: flex-start;
			}
		}
	}
}
.btn-container {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	margin-top: -30em;
	margin-bottom: 1.5em;

	.btn-go_to_login,
	.btn-go_to_expanses {
		text-decoration: none;
		font-size: $font-secondary-size;
		font-family: $font-main;
		background-color: $color-primary;
		color: $color-quartenary;
		width: 6em;
		padding: 0.5em;
		border-radius: 5em;
		text-align: center;
		@include tablet {
			width: 8em;
			padding: 0.7em;
		}
	}
}
.bottom-text {
	text-align: center;
	width: 85vw;
	font-family: $font-main;
	@include tablet {
		font-size: 1.5em;
	}
}
